@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
    background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: #5FBAFC;
    /* border-radius: 100px; */
}

::-webkit-scrollbar-thumb:hover {
    background: #5FBAFC;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: gray;
    /* border-radius: 100px; */
}

#cardBorder ::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: 100px;
}

#cardBorder ::-webkit-scrollbar-thumb {
    background: #5FBAFC;
    border-radius: 100px;
}

.font-extralight-100 {
    font-weight: 100;
}

.size11 {
    font-size: 11px;
}

.shadow-none-focus:focus {
    box-shadow: none !important;
}

.btn {
    text-transform: math-auto;
}

.vh-44 {
    height: 44vh;
}

.vh-50 {
    height: 50vh;
}

.vh-65 {
    height: 65vh;
}

.vh-30 {
    height: 30vh;
}

.vh-27 {
    height: 27vh;
}

@layer utilities {

    .rounded-s-4xl {
        border-start-start-radius: 4rem;
        border-end-start-radius: 4rem;
    }

    #auth-vector-style {
        background-image: url('/src/assets/images/auth/Vector.png');
        background-position-x: right;
        background-repeat: repeat-y;
        background-size: 30% 100%;
    }

    .size-14px {
        font-size: 14px;
    }

    .size-24px {
        font-size: 24px;
    }

    .daisy-hover-blue-jeans-100:hover {
        transition: all 0.3s;
        background-color: #EFF9FF;
    }

    .box-shadow {
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }

    .card-box-shadow {
        box-shadow: 0px 1px 5px 2px #dbdbdb;
    }

    .vw-70 {
        width: 70vh !important;
    }

    .vw-50 {
        width: 50vh !important;
    }

    .vw-30 {
        width: 30vh !important;
    }

    .vw-40 {
        width: 40vh !important;
    }

    .vw-25 {
        width: 25vh !important;
    }

}